<md-content class="md-padding">
    <form name="userForm" ng-keyup="" ng-mouseup="">
        <section ng-repeat="s in baseObj.customers" ng-if="!baseObj.settings.isSamePerson || s.role=='insurer'">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{s.role}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div layout="row">
                        <md-input-container class="md-block" flex=20>
                            <label>Title</label>
                            <md-select name="title" ng-model="s.title" required>
                                <md-option value="MR">Mr</md-option>
                                <md-option value="MS">Ms</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex=40>
                            <label>Surname</label>
                            <input ng-model="s.surname" required>
                            <div ng-messages="s.surname.$error" role="alert">
                                <div ng-message-exp="['required']">
                                    {{'error_surname' | translate}}
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex=40>
                            <label>Given</label>
                            <input ng-model="s.given" required>
                            <div ng-messages="s.given.$error" role="alert">
                                <div ng-message-exp="['required']">
                                    Your surname must be between 10 and 100 characters long and look like an e-mail address.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container class="md-block " flex=20>
                            <label>Date of Birth</label>
                            <md-datepicker ng-model="s.dob " md-current-view="year " required> </md-datepicker>
                        </md-input-container>
                        <md-input-container class="md-block " flex=20>
                            Age: {{ s.dob | Age }}
                        </md-input-container>
                        <md-input-container class="md-block " flex=20>
                            <p>Gender</p>
                            <md-radio-group name="gender " ng-model="s.gender " aria-required=" ">
                                <md-radio-button value="Male ">Male</md-radio-button>
                                <md-radio-button value="Female ">Female</md-radio-button>
                            </md-radio-group>
                        </md-input-container>
                        <md-input-container class="md-block" flex=40>

                            <p>Smoking Status</p>
                            <md-radio-group ng-model="s.smoking" ng-init="s.smoking='S'" ng-disabled="true" ">
                                <md-radio-button value="Y ">Yes</md-radio-button>
                                <md-radio-button value="N ">No</md-radio-button>
                                <md-radio-button value="S ">Standard</md-radio-button>
                            </md-radio-group >                            
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row ">
                        <md-input-container class="md-block " flex=50>
                            <label>Mobile (optional)</label>
                            <md-icon>phone</md-icon><input ng-model="s.phone ">
                        </md-input-container>
                        <md-input-container class="md-block " flex=50>
                            <label>Email (optional)</label>
                            <md-icon>email</md-icon><input ng-model="s.email " type="email ">
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card><div layout="row " layout-align="end center ">
            <md-checkbox ng-model="baseObj.settings.isSamePerson " aria-label="Checkbox 1 "ng-change="updateSamePerson(); ">
                Policy holder is same as insured 
            </md-checkbox> 
            </div>
                
        </section>

    </form>
</md-content>