                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>{{'annualpremium'|translate}}</label>                           
                            <input ng-model="baseObj.product.annualpremium">
                            </md-input>
                        </md-input-container>                        
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>{{'faceamount'|translate}}</label>                           
                            <input ng-model="baseObj.product.faceamount">
                            </md-input>
                        </md-input-container>
                    </div>