<section ng-init="p = baseObj.product">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{'planinfo' | translate}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row">
                <div flex>{{'product' | translate}}: {{ p.productid}}</div>
                <div flex>{{'plancode' | translate}}: {{p.planname}}</div>
            </div>
        </md-card-content>
    </md-card>
</section>